<div class="panel">
  <app-card-display image="https://images.unsplash.com/photo-1605749439419-80c81f67eefc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zmxvd2VycyUyMGFlc3RoZXRpY3xlbnwwfHwwfHw%3D&w=1000&q=80"></app-card-display>
  <app-card-display image="https://wallpaperaccess.com/full/1425355.jpg"></app-card-display>
  <app-card-display image="https://i.pinimg.com/736x/0b/cb/30/0bcb30c4f45163de731be4fcdbf59755.jpg"></app-card-display>
  <app-card-display image="https://thumbs.dreamstime.com/b/aesthetic-wallpaper-evening-sky-232703617.jpg"></app-card-display>
  <app-card-display image="https://wallpaperaccess.com/full/84249.jpg"></app-card-display>
  <app-card-display image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFiMhMP_gMArcdvrgrSj-GwMNyyrs-H2dp0oEAwYBZpkOwELJn5xG0CdEphT8FVm2Vbws&usqp=CAU"></app-card-display>
  <app-card-display image="https://images.unsplash.com/photo-1605749439419-80c81f67eefc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zmxvd2VycyUyMGFlc3RoZXRpY3xlbnwwfHwwfHw%3D&w=1000&q=80"></app-card-display>
  <app-card-display image="https://wallpaperaccess.com/full/1425355.jpg"></app-card-display>
  <app-card-display image="https://thumbs.dreamstime.com/b/aesthetic-wallpaper-evening-sky-232703617.jpg"></app-card-display>
  <app-card-display image="https://i.pinimg.com/736x/0b/cb/30/0bcb30c4f45163de731be4fcdbf59755.jpg"></app-card-display>
  <app-card-display image="https://wallpaperaccess.com/full/84249.jpg"></app-card-display>
  <app-card-display image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFiMhMP_gMArcdvrgrSj-GwMNyyrs-H2dp0oEAwYBZpkOwELJn5xG0CdEphT8FVm2Vbws&usqp=CAU"></app-card-display>
  <app-card-display image="https://images.unsplash.com/photo-1605749439419-80c81f67eefc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zmxvd2VycyUyMGFlc3RoZXRpY3xlbnwwfHwwfHw%3D&w=1000&q=80"></app-card-display>
  <app-card-display image="https://wallpaperaccess.com/full/1425355.jpg"></app-card-display>
  <app-card-display image="https://thumbs.dreamstime.com/b/aesthetic-wallpaper-evening-sky-232703617.jpg"></app-card-display>
  <app-card-display image="https://wallpaperaccess.com/full/84249.jpg"></app-card-display>
  <app-card-display image="https://i.pinimg.com/736x/0b/cb/30/0bcb30c4f45163de731be4fcdbf59755.jpg"></app-card-display>
  <app-card-display image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFiMhMP_gMArcdvrgrSj-GwMNyyrs-H2dp0oEAwYBZpkOwELJn5xG0CdEphT8FVm2Vbws&usqp=CAU"></app-card-display>
  <app-card-display image="https://images.unsplash.com/photo-1605749439419-80c81f67eefc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zmxvd2VycyUyMGFlc3RoZXRpY3xlbnwwfHwwfHw%3D&w=1000&q=80"></app-card-display>
  <app-card-display image="https://wallpaperaccess.com/full/1425355.jpg"></app-card-display>
  <app-card-display image="https://thumbs.dreamstime.com/b/aesthetic-wallpaper-evening-sky-232703617.jpg"></app-card-display>
  <app-card-display image="https://wallpaperaccess.com/full/84249.jpg"></app-card-display>
  <app-card-display image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFiMhMP_gMArcdvrgrSj-GwMNyyrs-H2dp0oEAwYBZpkOwELJn5xG0CdEphT8FVm2Vbws&usqp=CAU"></app-card-display>
  <app-card-display image="https://images.unsplash.com/photo-1605749439419-80c81f67eefc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zmxvd2VycyUyMGFlc3RoZXRpY3xlbnwwfHwwfHw%3D&w=1000&q=80"></app-card-display>
  <app-card-display image="https://wallpaperaccess.com/full/1425355.jpg"></app-card-display>
  <app-card-display image="https://thumbs.dreamstime.com/b/aesthetic-wallpaper-evening-sky-232703617.jpg"></app-card-display>
  <app-card-display image="https://wallpaperaccess.com/full/84249.jpg"></app-card-display>
  <app-card-display image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFiMhMP_gMArcdvrgrSj-GwMNyyrs-H2dp0oEAwYBZpkOwELJn5xG0CdEphT8FVm2Vbws&usqp=CAU"></app-card-display>
  <app-card-display image="https://i.pinimg.com/736x/0b/cb/30/0bcb30c4f45163de731be4fcdbf59755.jpg"></app-card-display>
</div>
